.lidership-card{
    position: relative;
    cursor: pointer;
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.lidership-card:hover .hidden-info{
    display: flex;
}

.lidership-card:hover .img-scale{
    transform: scale(1.1);
}

.hidden-info{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    align-items: center;    
    justify-content: center;
    background: rgba(255, 255, 255, 0.532);
}