.active {
  color: #ffbc13;
}

* {
  scrollbar-width: 15px;
  /* scrollbar-color: var(--secondary) var(--primary); */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  background: rgb(236, 236, 236);
}

*::-webkit-scrollbar-track {
    background: rgb(236, 236, 236);
    border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(194, 194, 194);
  border-radius: 0px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
